@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&family=Sansita+Swashed:wght@600&display=swap');

// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Sansita Swashed', cursive;



*{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,body,
ul,li,figure{margin:0; padding: 0;}
a{text-decoration: none; color: inherit;}
li{list-style: none;}

